:root {
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  background-color: var(--Very-Light-Grayish-Blue);
}
.container {
  width: 90%;
  margin: 0 auto;
  text-align: center;
  margin-top: 5rem;
}

.head {
  margin-top: 3rem;
  display: flex;
  gap: 1.5rem;
  justify-content: center;
  margin-bottom: 3rem;
}
h1 {
  color: var(--Grayish-Blue);
  font-size: 2rem;
}
.head p {
  margin-top: 0.5rem;
  color: var(--Light-Grayish-Blue);
}
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: hsl(237, 63%, 64%);
  -webkit-transition: 0.4s;
  transition: 0.4s;
}
.switch:hover {
  opacity: 0.6;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: hsl(237, 63%, 64%);
}

input:focus + .slider {
  box-shadow: hsl(237, 63%, 64%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.card {
  background-color: #fff;
  margin-bottom: 1rem;
  padding: 1.5rem;
  border-radius: 10px;
  width: 100%;
  box-shadow: 1px 2px 3px 2px #cccbcb;
}
.card h3 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.card h3,
p {
  color: var(--Grayish-Blue);
}
.card h1 {
  color: #4f4f4f;
  font-size: 4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #cec9c9;
}
.card p {
  border-bottom: 1px solid #cec9c9;
  padding: 1rem;
}
.card .hide {
  display: none;
}

button {
  border: none;
  background: linear-gradient(
    to right,
    hsl(236deg, 72%, 79%),
    hsl(237deg, 63%, 64%)
  );
  padding: 1rem;
  width: 100%;
  border-radius: 10px;
  margin-top: 2rem;
  color: #fff;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: bold;
}

button:hover {
  background: transparent;
  border: 1px solid hsl(237, 63%, 64%);
  color: hsl(237, 63%, 64%);
}

.middle {
  background: linear-gradient(
    to right,
    hsl(236deg, 72%, 79%),
    hsl(237deg, 63%, 64%)
  );
}

.middle h1,
.middle p,
.middle h3 {
  color: white;
}

.middle button {
  background: #fff;
  color: hsl(237deg, 63%, 64%);
}

.middle button:hover {
  background: transparent;
  color: #fff;
  border: 1px solid #fff;
}

@media (min-width: 375px) and (max-width: 699px) {
  body {
    background-image: url(../images/bg-top.svg);
    background-size: 20% 20%;
    background-repeat: no-repeat;
    background-position: top right;
    max-width: 400px;
  }
}
@media (min-width: 700px) and (max-width: 1440px) {
  body {
    background-image: url(../images/bg-top.svg), url(../images/bg-bottom.svg);
    background-position: 100% 0%, 0% 100%;
    background-repeat: no-repeat, no-repeat;
    height: 100vh;
  }
  .container {
    width: 70%;
    margin-top: 3rem;
  }
  .head {
    margin-top: 2rem;
  }
  .cards {
    display: flex;
  }

  .card:first-child {
    border-radius: 10px 0 0 10px;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .card:last-child {
    border-radius: 0 10px 10px 0;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
}
